if status is-interactive
  # Commands to run in interactive sessions can go here

  starship init fish | source
#  thefuck --alias | source

  direnv hook fish | source

  #Git Aliases
  alias gs="git status"
  alias gc="git switch $argv"
  alias gf="git fetch --prune"
  alias gu="git pull --rebase"
  alias ga="git add ."
  alias gcm="git commit"
  alias gp="git push"

  alias applyconfig="chezmoi apply && source ~/.config/fish/config.fish"

  alias mulvad="sudo tailscale set --exit-node=se-sto-wg-201.mullvad.ts.net"
  alias nomulvad="sudo tailscale set --exit-node="

  set -x SPRING_CONFIG_IMPORT "optional:configserver:https://config.jonasandersen.dev"
end
  set -x GOPATH $HOME/go
  set -x PATH $PATH $GOPATH/bin $HOME/bin $HOME/.local/share/JetBrains/Toolbox/scripts /opt/jetbrains-toolbox/bin $HOME/.local/bin $HOME/applications
  set -x JAVA_HOME $HOME/.sdkman/candidates/java/current
