if status is-interactive
  # Commands to run in interactive sessions can go here

  starship init fish | source

  direnv hook fish | source

  #Git Aliases
  alias gs="git status"
  alias gc="git switch $argv"
  alias gf="git fetch --prune"
  alias gu="git pull --rebase"
  alias ga="git add ."
  alias gcm="git commit -m $argv"
  alias gp="git push"

  alias applyconfig="chezmoi apply && source ~/.config/fish/config.fish"

  set -x SPRING_CONFIG_IMPORT "optional:configserver:https://config.jonasandersen.dev"
end

  set -x GOPATH $HOME/go
  set -x PATH $PATH $GOPATH/bin /usr/local/bin
  set -x PATH $PATH $HOME/bin
  set -x PATH $PATH $HOME/.local/share/JetBrains/Toolbox/scripts
  set -x JAVA_HOME /etc/alternatives/java_sdk_24/
